<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaobai.rpass.rememberpass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/remeber_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.MainActivity" android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- //数据库名称 -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="user.db" />
        <!-- //数据库版本 -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <!-- //数据库表 -->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.xiaobai.rpass.rememberpass.model.Remember" />

        <activity android:name=".act.ViewLogActivity" />
        <activity android:name=".act.AddLogActivity" />
        <activity android:name=".act.DateActivity" />
        <activity android:name=".act.RememberTimeActivity" />
        <activity android:name=".act.HomeActivity"></activity>
    </application>

</manifest>